/* 施工案例 */
.gygl{
    height: 3.461538rem;
    position: relative;
    top: -0.807692rem;
    z-index: 2;
}
.gygl .big_box{
    width: 3.461538rem;
    height: 3.461538rem;
    background: #1259E6;
    text-align: center;
    color: #fff;
    padding-top: 0.35rem;
    box-sizing: border-box;
}
.gygl .big_box span,.gygl .big_box em,.gygl .big_box strong{
    font-weight: normal;
    font-style: normal;
}
.gygl .big_box em{
    font-size: 0.923077rem;
}
.gygl .big_box strong{
    font-size: 0.692308rem;
}
.gygl .you{
    position: absolute;
    left: 4.230769rem;
    top: 1.5rem;
}
.gygl .you>span{
    font-size: 0.615385rem;
}



/* 选项卡 */
.xvanxiangka{
    height: 1.230769rem;
    border-bottom: 2px solid #EAEAEA;
}
.xvanxiangka ul{
    height: 1.15rem;
}
.xvanxiangka ul li{
    height: 100%;
    color: #000;
    float: left;
    font-size: 0.615385rem;
    margin-right: 0.65rem;
}
.xvanxiangka ul li a{
    color: #1259E5;
}
.xvanxiangka ul li:hover{
    border-bottom: 4px solid #1259E5;
}
.xvanxiangka ul .active{
    border-bottom: 4px solid #1259E5;
}



/* 5个链接 */
.box{
    height: 4rem;
    margin-top: 0.961538rem;
}
.box #tabs{
    height: 1.923077rem;
}
.box #tabs a{
    font-size: 0.615385rem;
    width: 4.615385rem;
    height: 1.538462rem;
    line-height: 1.538462rem;
    background: #F3F3F3;
    color: #000;
    text-align: center;
    margin: 0 0.06rem 0 0.06rem;
    display: inline-block;
}
.box #tabs a:nth-child(4),.box #tabs a:nth-child(5){
    margin-top: 0.576923rem;
}
.box #tabs a:hover{
    background:#1966E6;
    color: #fff;
}
.box #tabs .active{
    background:#1966E6;
    color: #fff;
}



/* 主体 */
main{
    height: 71rem;
}
main ul{
    width: 14.67rem;
	margin-left: auto;
	margin-right: auto;
}
main ul li{
    width: 100%;
    height: 13.5rem;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    margin-top: 0.77rem;
    background: #F3F4F8;
}
main ul li .litop{
    width: 100%;
    height: 9.846154rem;
    border-bottom: 1px solid #E3E3E3;
}
main ul li .litop img{
    width: 100%;
}
main ul li p{
    font-size: 0.615385rem;
    color: #999999;
    margin-left: 0.5rem;
    margin-top: 0.35rem;
}
main ul li .litxt{
    font-size: 0.615385rem;
    color: #000;
    margin-left: 0.5rem;
}



/* 翻页 */
.fanye{
    height: 3.3rem;
    padding-top: 0.4rem;
    box-sizing: border-box;
    text-align: center;
}
.fanye a{
    display: inline-block;
    font-size: 0.538462rem;
    text-align: center;
    width: 3.461538rem;
    height: 1.346154rem;
    line-height: 1.346154rem;
    color: #fff;
    background: #1159E5;
}