header a{
	display: block;
	width: 200px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}
header img{
	width: 100%;
}

.search_form{
	width:502px;
	height:42px;
	margin: 20px auto 30px;
}
.input_text{
	width:400px;
	height: 40px;
	border:1px solid #000;
	/*清除掉默认的padding*/
	padding:0px;
	/*提示字首行缩进*/
	text-indent: 10px;
	/*去掉蓝色高亮框*/
	outline: none;
	/*用浮动解决内联元素错位及小间距的问题*/
	float:left;
}
.input_sub{
	width:100px;
	height:42px;
	background: #000;
	border:0px;/*去掉submit按钮默认边框*/
	float:left;/*改成右浮动也是可以的*/
	color:#fff;/*搜索的字体颜色为白色*/
	cursor:pointer;/*鼠标变为小手*/
	outline:none;/*设置点击按钮的时候按钮没有边框*/
}

main{
	height: auto;
/*	background: red;*/
}
main dl{
	display: block;
	font-size: 0;
}
main dl dt{
	font-size: 25px;
	font-weight: bold;
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin-bottom: 0;
}
main dl dd{
	font-size: 20px;
	text-align: center;
	width: 176px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin-bottom: 15px;
	margin-right: 24px;
}
main dl dd:nth-of-type(6n){
	margin-right: 0;
}
footer{
	margin-top: 20px;
	text-align: center;
	margin-bottom: 40px;
}
#BackTop{
	position:fixed;
	bottom:5%;
	right:5%;
	display:none;
	cursor:pointer;
}