@charset "utf-8";
body{
	font-family: "微软雅黑";
	padding:10% 5% 5% 5%;
}
.zhuti{
	text-align:center;
	border-width:1px;
	border-style:solid;
	border-color:rgb(2, 204, 245);
	background-color:rgba(121,145,142,0.4);
	border-radius:20px;
}
.touxiang{
	border-radius:50%;
	max-width:100px;
	max-height:100px;
}
.nameshl{
	color:#fff;
	font-weight: bold;
}
.qianming{
	font-size:25px;
	color:#fff;
}
.daohang{
	line-height:3;
}
.daohanglan{
	border-radius:10px;
	padding:7px 30px;
	color:#fff;
	border-style:solid;
	text-decoration:none;
}
.ipcolor{
	color:#fff;
}
.banname{
	text-decoration:none;
	color:#fff;
}
